#estatisticas table {
    width: 100%;
    border-collapse: collapse;

    img {
        width: 30px;
    }
    
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        color: var(--fonte-escura);
    }
}

#estatisticas h2, #estatisticas small {
    color: var(--fonte-escura);
}

.estatisticaTime {
    display: flex;
    flex-direction: column;
}

.estatisticaTime span {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--fonte-escura);
}


.artilheiro {
    display: table-row;
}


